@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <ul class="nav navbar-nav">
        <li><a href="/users/1/tasks">User 1</a></li>
        <li><a href="/users/2/tasks">User 2</a></li>
    </ul>
</div>
