
@{
    ViewData["Title"] = "Configure";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Configure</h2>

Configuration Sub Group

<a asp-area="" asp-controller="Admin" asp-action="ConfigureIconWall">Iconwall</a>
<a asp-area="" asp-controller="Admin" asp-action="Workflow">Workflow</a>

