
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

Landing page of the admin home
<a asp-area="" asp-controller="Admin" asp-action="Configure">Configurations</a>
<a asp-area="" asp-controller="Admin" asp-action="Workflow">Workflow</a>